Flask==2.3.3
Flask-WTF==1.2.1
Flask-SQLAlchemy==3.1.1
pg8000==1.31.2
email-validator==2.0.0
python-dotenv==1.0.0
alibabacloud-tea-openapi==0.4.2
alibabacloud-dm20151123==1.7.2
Flask-Babel==2.0.0  # Flask-Babel 与 Babel 2.17.0 兼容版本
Babel==2.17.0